{% extends 'base.html' %}
{% block content %}
    {% if validlink %}
    <form class="pt-5" method="post">
        {% csrf_token %}
        <div class="card shadow--1 p-3 login__form mx-auto">
            <h1 class="h3 mb-0">Enter new password</h1>
            <div class="my-3">
                <label for="new_password1" class="form-label">New password</label>
                {% with form.new_password1 as field %}
                <input type="password" class="form-control" name="new_password1" id="new_password1">
                <div id="new_password1Help" class="form-text text-danger">{% if field.errors %}{% for error in field.errors %}<div>{{ error }}</div>{% endfor %}{% endif %}</div>
                {% endwith %}
            </div>
            <div class="mb-3">
                <label for="new_password2" class="form-label">Confirm password</label>
                {% with form.new_password2 as field %}
                <input type="password" class="form-control" name="new_password2" id="new_password2">
                <div id="new_password2Help" class="form-text text-danger">{% if field.errors %}{% for error in field.errors %}<div>{{ error }}</div>{% endfor %}{% endif %}</div>
                {% endwith %}
            </div>
            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                 {{error}}
                {% endfor%}
            </div>
            {% endif %}
            <button class="btn btn-primary btn-block" type="submit">Update</button>
        </div>
    </form>
    {% else %}
    <div class="container">
        <div class="pt-5 text-center">
            <p class="">The password reset link was invalid, possibly because it has already been used.<br>Please request a new password reset.</p>
        </div>
    </div>
    {% endif %}
{% endblock %}