{% extends 'base.html' %}


{% block content %}
<form class="pt-5" method="post">
    {% csrf_token %}
    <div class="card shadow--1 p-3 login__form mx-auto">
        <h1 class="h3 mb-0">Reset password</h1>
        <div class="my-3">
            <label for="email" class="form-label">Email</label>
            {% with form.email as field %}
            <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
            <div id="emailHelp" class="form-text text-danger">{% if field.errors %}{% for error in field.errors %}<div>{{ error }}</div>{% endfor %}{% endif %}</div>
            {% endwith %}
        </div>
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
             {{error}}
            {% endfor%}
        </div>
        {% endif %}
        <button class="btn btn-primary btn-block" type="submit">Send reset email</button>
    </div>
</form>
{% endblock %}