.category{
    &__wrapper{
        display: flex;
        align-items: center;
    }

    &__icon{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        margin-right: .5rem;
        border-radius: 50%;

        &--DATE{
            flex-direction: column;
            color: $dark;
            background-color: rgba($dark, 0.08);
            border-radius: .25rem;
        }

        &--FOO{
            color: var(--bs-purple);
            background-color: var(--bs-purple-20);
        }

        &--ENT{
            color: var(--bs-blue);
            background-color: var(--bs-blue-20);
        }

        &--INC{
            color: var(--bs-green);
            background-color: var(--bs-green-20);
        }

        &--EDU{
            color: var(--bs-teal);
            background-color: var(--bs-teal-20);
        }

        &--HOU{
            color: var(--bs-cyan);
            background-color: var(--bs-cyan-20);
        }

        &--TRA{
            color: var(--bs-yellow);
            background-color: var(--bs-yellow-20);
        }

        &--UTL{
            color: var(--bs-dark);
            background-color: var(--bs-gray-dark-20);
        }

        &--MED{
            color: var(--bs-red);
            background-color: var(--bs-red-20);
        }

        &--SAV{
            color: var(--bs-orange);
            background-color: var(--bs-orange-20);
        }

        &--PER, &--GIF{
            color: var(--bs-pink);
            background-color: var(--bs-pink-20);
        }

    }

    &__header{
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
    }
    &__text{
        font-weight: 500;
        font-size: .75rem;
        line-height: 1rem;
        text-transform: uppercase;
    }
}

