// Colors
$body-bg: #f8fbfd;

$white:    #fff !default;
$gray-100: #edf6f9 !default;
$gray-200: #d5dde0 !default;
$gray-300: #bec5c7 !default;
$gray-400: #a6acae !default;
$gray-500: #8e9495 !default;
$gray-600: #777b7d !default;
$gray-700: #5f6264 !default;
$gray-800: #474a4b !default;
$gray-900: #2f3132 !default;
$black:    #000 !default;

$blue:    #0d69fd !default;
$indigo:  #6610f2 !default;
$purple:  #5f5cff !default;
$pink:    #d92b71 !default;
$red:     #e02d3f !default;
$orange:  #fd7e14 !default;
$yellow:  #ffcd43 !default;
$green:   #21cc76 !default;
$teal:    #2ce6af !default;
$cyan:    #09d7e6 !default;

$primary:       $purple !default;
$secondary:     $pink !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

// Fonts
$font-family-sans-serif:      Inter,system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$lead-font-size:              1.5rem;
//$lead-font-weight:            500;

// Links
$link-decoration:                         none;

// Headers
$headings-font-weight:        600 !default;

// Buttons
$input-btn-padding-y:         .375rem !default;
$input-btn-padding-x:         1rem !default;
$input-btn-font-family:       null !default;

$btn-font-weight:             500;
$input-btn-border-width:      2px;

// Forms
//$input-padding-y:                       .625rem !default;
//$input-padding-x:                       $input-btn-padding-x !default;
//$input-border-width:                    $input-btn-border-width !default;

// Labels
$form-label-margin-bottom:              .25rem !default;
$form-label-font-size:                  .875rem !default;
$form-label-font-weight:                600 !default;

// Navbar
$nav-link-padding-y:                .5rem;
$nav-link-font-weight:              500;
//$nav-link-color:                    null !default;
$navbar-light-color:                rgba($gray-900, .8) !default;
$navbar-light-hover-color:          $primary;
$navbar-light-active-color:         $primary;

$navbar-brand-height:               1.5rem;
$navbar-brand-padding-y:            .75rem;

// Cards
$card-border-width:                 0;

// Alerts
$alert-padding-y:                   .75rem;
//$alert-padding-x:                   $spacer !default;
$alert-margin-bottom:               1rem !default;
$alert-border-width:                0;

$alert-bg-scale:                    -88% !default;
$alert-border-scale:                -70% !default;
$alert-color-scale:                 40% !default;

//$alert-dismissible-padding-r:       $alert-padding-x * 3 !default; // 3x covers width of x plus default padding on either side

// Dropdown
$dropdown-padding-y:                0;
$dropdown-spacer:                   .25rem;
//$dropdown-font-size:                $font-size-base !default;
//$dropdown-color:                    $body-color !default;
$dropdown-border-width:             0;
$dropdown-inner-border-radius:      .25rem;
// Manually unless enable-shadows
//$dropdown-box-shadow:               0px 4px 8px rgb(47 49 50 / .6);

//$dropdown-link-color:               $gray-900 !default;
$dropdown-link-hover-color:         $primary;
$dropdown-link-hover-bg:            rgba($primary, .12);

$dropdown-link-active-color:        $white;
$dropdown-link-active-bg:           $primary;

$dropdown-item-padding-y:           .5rem;

// Modal
//$modal-footer-margin-between:       0 .5rem;
$modal-content-border-width:        0;

$modal-sm:                          20rem;
$modal-md:                          35rem;
$modal-lg:                          50rem;
$modal-xl:                          65rem;

// Tables
$table-cell-vertical-align:   middle;
$table-cell-padding-y:        .75rem;
$table-cell-padding-x:        1rem;

$table-hover-bg-factor:       .04;
$table-hover-bg:              rgba($primary, $table-hover-bg-factor);

$table-border-color:          $gray-200;

$table-group-separator-color: $gray-200;

@import "../vendors/bootstrap/bootstrap.scss";

:root {
    // Custom variable values only support SassScript inside `#{}`.
    @each $color, $value in $colors {
      --#{$variable-prefix}#{$color}-20: #{transparentize($value,.8)};
    }
}

// sass static/sass/main.scss static/css/main.css