.width{
    &--2{
        width: 2rem;
    }
    &--4{
        width: 4rem;
    }
    &--8{
        width: 8rem;
    }
}

.line-height{
    &--125{
        line-height: 1.25rem;
    }
}

.fw{
    &--500{
        font-weight: 500;
    }
}
