.nav-link-icon{
    $self: &;
    padding: 0;
    outline: 0;
    border-radius: 50%;

    &__wrapper{
        display: flex;
        align-items: center;
    }

    &__icon{
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &--avatar{
            background-color: rgba(47, 49, 50, .08);
        }

        svg{
            width: 1.5rem;
            height: 1.5rem;
            fill: rgba(47, 49, 50, .6);
        }

    }

    &:focus{
        background-color: var(--bs-purple-20);
    }

    &::after{
        display: none;
    }

    &:hover{
        #{ $self }__icon--avatar{
            background-color: var(--bs-purple-20);
        }

        & svg, #{ $self }.active svg{
            fill: var(--bs-primary);
        }

    } 
}

.navbar-expand .navbar-nav .nav-link-icon{
    padding-right: 0;
    padding-left: 0;
    margin-left: .5rem;
}