.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

h1{
    font-size: 3rem;
    line-height: 3.25rem;
}

h2{
    font-size: 2.5rem;
    line-height: 2.75rem;
}

h3{
    font-size: 2rem;
    line-height: 2.5rem;
}

h4{
    font-size: 1.5rem;
    line-height: 2.25rem;
}

h5{
    font-size: 1.25rem;
    line-height: 1.5rem;
}

h6{
    font-size: 1rem;
    line-height: 1.5rem;
}

/* Buttons */
.btn-lg{
    line-height: 2rem;
}

/* forms */

.form-text{
    line-height: 1.25rem;
}

/* nav  */
.navbar{
    box-shadow: 0 0 12px rgb(47 49 50 / .2);
}


/* Layout */
.main{
    margin-top: 8rem;
}

/* Shadows */
.shadow--1{
    box-shadow: 0px 2px 4px rgb(47 49 50 / .2);
}