.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

h1{
    font-size: 3rem;
    line-height: 3.25rem;
}

h2{
    font-size: 2.5rem;
    line-height: 2.75rem;
}

h3{
    font-size: 2rem;
    line-height: 2.5rem;
}

h4{
    font-size: 1.5rem;
    line-height: 2.25rem;
}

h5{
    font-size: 1.25rem;
    line-height: 1.5rem;
}

h6{
    font-size: 1rem;
    line-height: 1.5rem;
}

/* Buttons */
.btn-lg{
    line-height: 2rem;
}

/* forms */

.form-text{
    line-height: 1.25rem;
}

/* nav  */
.navbar{
    box-shadow: 0 0 12px rgb(47 49 50 / .2);
}

.navbar-brand{
    line-height: 1.5rem;
}

/* Layout */
.main{
    margin-top: 6rem;
}

/* Modal */
.modal-body{
    padding: 0 1rem;
}
/* Shadows */
.shadow--1{
    box-shadow: 0px 2px 4px rgb(47 49 50 / .2);
}

.dropdown-menu{
    box-shadow: 0px 4px 8px rgb(47 49 50 / .24);
}


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MaterialIconsOutlined-Regular.otf') format('opentype');
    }

    .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
