<!-- Header -->
<nav class="navbar navbar-expand-md fixed-top navbar-light bg-white" aria-label="Main navigation">
    <div class="container">
        <a class="navbar-brand" href="#">Expense Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                {% if request.user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'home' %}">Budgets</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'account' %}">Account</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                <li class="nav-item d-lg-none"><a class="nav-link" href="{% url 'register' %}">Sign up</a></li>
                <li class="nav-item d-none d-lg-inline"><a class="nav-link2 text-white btn btn-primary ms-3" href="{% url 'register' %}">Sign up</a></li>
                {% endif %}
            
                {% if request.user.is_authenticated %}
                <span class="navbar-text">Hello, {{request.user.username}}</span>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- End Header -->
