{% if messages %}
    <div class="notification-float__wrapper">
        {% for message in messages %}
        <div class="toast d-flex align-items-center {% if message.tags %}{{ message.tags }}{% endif %} border-0 show" data-bs-delay="3000" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">
                {{ message }}
            </div>
            <button type="button" class="btn-close ms-auto me-2" data-bs-dismiss="toast" aria-label="Close"><span class="material-icons">close</span></button>
        </div>
        {% endfor %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var toastElList = [].slice.call(document.querySelectorAll('.toast'))
            var toastList = toastElList.map(function (toastEl) {
                return new bootstrap.Toast(toastEl)
            })
            toastList.forEach(toast => toast.show());
        }, false);
    </script>
{% endif %}