{% load static %}
<!-- Header -->
<nav class="navbar {% if request.user.is_authenticated %}navbar-expand{% else %}navbar-expand-md{% endif %} fixed-top navbar-light bg-white" aria-label="Main navigation">
    <div class="container">
        <a class="navbar-brand text-dark" {% if request.user.is_authenticated %}href="{% url 'budgets' %}"{% else %}href="{% url 'home' %}"{% endif %}><img src="{% static '/images/website/logo128x128.png' %}" alt="Logo" class="img-fluid m-auto width--2 me-1">Zenexpender</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto">
                {% if request.user.is_authenticated %}
                    {% with request.resolver_match.url_name as url_name %}
                    {% if url_name == 'view_budget' or url_name == 'create_expense' %}
                    <li class="nav-item">
                        <span class="visually-hidden">Delete budget</span>
                        <a class="nav-link nav-link-icon" href="#" id="deleteBudgetBtn"  data-bs-toggle="modal" data-bs-target="#deleteBudget" aria-label="Delete budget" data-tooltip="down">
                            <div class="nav-link-icon__wrapper">
                                <span class="nav-link-icon__icon">
                                    <span class="material-icons">delete</span>
                                </span>
                            </div>
                        </a>
                    </li>
                    {% endif %}
                    {% if url_name == 'edit_expense' %}
                    <li class="nav-item">
                        <span class="visually-hidden">Delete expense</span>
                        <a class="nav-link nav-link-icon" href="#" id="deleteExpenseBtn"  data-bs-toggle="modal" data-bs-target="#deleteExpense" aria-label="Delete expense" data-tooltip="down">
                            <div class="nav-link-icon__wrapper">
                                <span class="nav-link-icon__icon">
                                    <span class="material-icons">delete</span>
                                </span>
                            </div>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <span class="visually-hidden">Budgets</span>
                        <a class="nav-link nav-link-icon {% if url_name == 'budgets' %}active{% endif %}" href="{% url 'budgets' %}" aria-label="Budgets" data-tooltip="down">
                            <div class="nav-link-icon__wrapper">
                                <span class="nav-link-icon__icon">
                                    <span class="material-icons">table_view</span>
                                </span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-link-icon" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="nav-link-icon__wrapper">
                                <span class="nav-link-icon__icon nav-link-icon__icon--avatar">
                                    <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"/></svg>
                                </span>
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li>
                                <a class="dropdown-item" href="{% url 'account' %}">
                                    <i class="material-icons dropdown-icon">settings</i>
                                    Account
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'logout' %}">
                                    <i class="material-icons dropdown-icon">east</i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% endwith %}
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Log in</a></li>
                    <li class="nav-item d-lg-none"><a class="nav-link" href="{% url 'register' %}">Sign up</a></li>
                    <li class="nav-item d-none d-lg-inline"><a class="nav-link2 text-white btn btn-primary ms-3" href="{% url 'register' %}">Sign up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- End Header -->