.btn{
    &-lg{
        line-height: 2rem;
    }

    &--float{
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        z-index: 1;
        box-shadow: 0px 4px 6px rgba($dark, .30);
    }

    &-close{
        align-items: center;
        display: flex;
        justify-content: center;
        opacity: 1;
        background: transparent;
        color: inherit;
    
        &:hover, &:focus{
            opacity: 1;
            color: inherit;
            background-color: rgba($dark, .08);
        }
    
        &--material{
            color: inherit;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
        }
    }

}