{% extends 'base.html' %}


{% block content %}
<div class="row mb-5">
    <div class="col-12">
        <nav aria-label="breadcrumb" class="">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Account</li>
            </ol>
        </nav>
    </div>
</div>


<form class="pt-5" method="post">
    {% csrf_token %}
    <div class="card shadow--1 p-3 login__form mx-auto">
        <h1 class="h3 mb-0">Account</h1>
        <div class="mb-3 text-muted">
            <small>Wanna change password? <a href="{% url 'password_change' %}">Update password</a></small>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            {% with account_form.username as field %}
                <input type="text" name="username" id="username" class="form-control {% if field.errors %} is-invalid{% endif %}" required autofocus value="{{account_form.initial.username}}">
                <div id="usernameHelp" class="form-text text-danger">
                    {% if field.errors %}{% for error in field.errors %}{{ error }}{% endfor %}{% endif %}
                </div>
            {% endwith %}
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            {% with account_form.email as field %}
                <input type="email" name="email" id="email" class="form-control {% if field.errors %} is-invalid{% endif %}" required value={{account_form.initial.email}}>
                <div id="usernameHelp" class="form-text text-danger">
                    {% if field.errors %}{% for error in field.errors %}{{ error }}{% endfor %}{% endif %}
                </div>
            {% endwith %}
        </div>
    
        {% if login_form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in login_form.non_field_errors %}
             {{error}}
            {% endfor%}
        </div>
        {% endif %}
        <button class="btn btn-primary btn-block" type="submit">Save</button>
    </div>
</form>

{% endblock content %}