{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row align-items-center  justify-content-center">
    <div class="col-12 col-md-6 col-lg-5 order-md-2">
        <img src="https://picsum.photos/600/450" alt="Intro image" class="img-fluid">
    </div>
    <div class="col-12 col-md-6 col-lg-5 order-md-1">
        <h1>Painless expense tracker.</h1>
        <h3>Create monthly budgests and record expenses in seconds.</h3>
        <a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>
        <button type="button" class="btn btn-outline-primary btn-lg">Log in</button>
    </div>
</div>

{% endblock content %}