{% extends 'base_navless.html' %}
{% load static %}

{% block content %}

<form class="pt-5" method="post">
    {% csrf_token %}
    <div class="card shadow--1 p-3 login__form mx-auto">
        <a href="{% url 'home' %}" class="text-center">
            <img src="{% static '/images/website/logo128x128.png' %}" alt="Logo" class="img-fluid width--4">
        </a>
        <h1 class="h3 mb-0">Login</h1>
        <div class="mb-3 text-muted">
            <small>Don't have an account? <a href="{% url 'register' %}">Sing up</a></small>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            {% with login_form.username as field %}
                <input type="text" name="username" id="username" class="form-control {% if field.errors %} is-invalid{% endif %}" required autofocus>
                <div id="usernameHelp" class="form-text text-danger">
                    {% if field.errors %}{% for error in field.errors %}{{ error }}{% endfor %}{% endif %}
                </div>
            {% endwith %}
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            {% with login_form.password as field %}
            <input type="password" class="form-control {% if field.errors %} is-invalid{% endif %}" name="password" id="password" required>
            <div id="passwordHelp" class="form-text text-danger">{% if field.errors %}{% for error in field.errors %}{{ error }}{% endfor %}{% endif %}</div>
            {% endwith %}
        </div>
    
        {% if login_form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in login_form.non_field_errors %}
             {{error}}
            {% endfor%}
        </div>
        {% endif %}
        <button class="btn btn-primary btn-block" type="submit">Log in</button>
        <small class="mt-2"><a href="{% url 'password_reset' %}">Forgot password?</a></small>
    </div>
</form>

{% endblock content %} 