{% extends 'base_navless.html' %}
{% load static %}
{% load app_extras %}

{% block content %}

<form class="pt-5" method="post">
    {% csrf_token %}
    <div class="card shadow--1 p-3 login__form mx-auto">
        <a href="{% url 'home' %}" class="text-center">
            <img src="{% static '/images/website/logo128x128.png' %}" alt="Logo" class="img-fluid width--4">
        </a>
        <h1 class="h3 mb-0">Sign up</h1>
        <div class="mb-3 text-muted">
            <small>Already have an account? <a href="{% url 'login' %}">Log in</a></small>
        </div>
    
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            {% with registration_form.username as field %}
                <input type="text" name="username" id="username" class="form-control {% if field.errors %} is-invalid{% endif %}" required autofocus>
                <div id="usernameHelp" class="form-text text-danger">
                    {% if field.errors %}{% for error in field.errors %}{{ error }}{% endfor %}{% endif %}
                </div>
            {% endwith %}
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            {% with registration_form.email as field %}
                <input type="email" name="email" id="email" class="form-control {% if field.errors %} is-invalid{% endif %}" required autofocus>
                <div id="usernameHelp" class="form-text text-danger">
                    {% if field.errors %}{% for error in field.errors %}{{ error }}{% endfor %}{% endif %}
                </div>
            {% endwith %}
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Password</label>
            {% with registration_form.password2 as field %}
            <input type="password" class="form-control" name="password2" id="password2">
                {% if field.errors %}
                <div id="password2Help" class="form-text text-danger">{% for error in field.errors %}<div>{{ error }}</div>{% endfor %}</div>
                {% else %}
                <div id="password2Help" class="form-text">8 or more characters.</div>
                {% endif %}
            {% endwith %}
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">Confirm password</label>
            {% with registration_form.password1 as field %}
            <input type="password" class="form-control" name="password1" id="password1">
            <div id="password1Help" class="form-text text-danger">{% if field.errors %}{% for error in field.errors %}<div>{{ error }}</div>{% endfor %}{% endif %}</div>
            {% endwith %}
        </div>
    
        {% if registration_form.non_field_errors %}
        <div class="alert alert-danger">
            {{registration_form.non_field_errors}}
        </div>
        {% endif %}
        <button class="btn btn-primary btn-block" type="submit">Create account</button>
    </div>
</form>

{% endblock content %}